<form action="/empregados" method="post">

    <div>
        <input type="hidden" name ="id" id ="id" value="{{empregado.id}}">
    </div>
    <div>
        <label for="">Nome</label>
        <input type="text" name="nome" id="nome" value="{{empregado.nome}}">
    </div>

    <div>
        <label for="">Telefone</label>
        <input type="text" name="telefone" id="telefone" value="{{empregado.telefone}}">
    </div>

    <div>
        <label for="">Email</label>
        <input type="text" name="email" id="email" value="{{empregadp.email}}">
    </div>

    <div>
        <label for="">Endereco</label>
        <input type="text" name="endereco" id="endereco" value="{{empregado.endereco}}">
    </div>

    <button type="submit">Salvar</button>
</form>

