<table border="">

    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>telefone</td>
            <td>Email</td>
            <td>Endereço</td>
            <td colspan="2">Opções</td>
        </tr>
    </thead>

    <tbody>
        {{#each empregados}}

        <tr>
            <td>{{id}}</td>
            <td>{{nome}}</td>
            <td>{{telefone}}</td>
            <td>{{email}}</td>
            <td>{{endereco}}</td>
            <td><a href="/empregados/atualizar?id={{id}}">Atualizar</a></td>
            <td><a href="/empregados/remover?id={{id}}">Remover</a></td>
        </tr>
        {{/each}}
    </tbody>

    <button><a href="/empregados/salvar">Salvar</a></button>
</table>